* {
    box-sizing: border-box;
  }

button:focus{
    outline: 0;
}
.content{
  max-width: 350px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
  background-color: rgb(24, 24, 34);
}
.calc{
  
  background: rgba(0, 0, 0, 0.5); 
  border: 1px solid #111; 
  padding: 20px;
  margin: 2px;
  color: #EEE;
  border-radius: 3px;
  font-size: 22px; 
  cursor: pointer; 

}
.calc-buttons{

  padding: 20px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.num{
 background-color: silver;
 color: black;
}
.clear{
    color: white;
    background-color: rgb(233, 97, 56);
}

.operate{
    grid-column: 1/5;
    background-color: rgb(52, 150, 52);
}
.ops{
    background-color: rgb(79, 102, 201);
}

.display{
    background: white;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 1px 1px;
    width: 100%;
    border-bottom: 2px solid #111;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
}

#backspace img{
  width: 50px;
  margin-top: 5px;
  margin-bottom: -10px;
}

#backspace{
  background: transparent;
  border: none;
  margin-right: 0px;
  padding-top: 5px;
}
